<% provide :title, t("static_pages.about.title") %>
<h1><%= t "static_pages.about.title" %></h1>
<p>
  <%= t "static_pages.about.the" %>
  <a href="http://www.railstutorial.org/">
  <em><%= t "static_pages.about.content" %></em>
  </a> <%= t "static_pages.about.n1" %>
  <a href="http://www.railstutorial.org/book">
  <%= t "static_pages.about.n2" %></a>
  <%= t "static_pages.about.n3" %>
  <a href="http://screencasts.railstutorial.org/">
  <%= t "static_pages.about.n4" %></a>
  <%= t "static_pages.about.content1" %>
  <a href="http://rubyonrails.org/"><%= t "static_pages.about.n5" %></a>.
  <%= t "static_pages.about.content2" %>
</p>
