<% provide :page_title, t("password_resets.new.title") %>
<h1><%= t "password_resets.new.title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :password_reset, url: password_resets_path do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control",
          autofocus: true, required: true %>
      </div>

      <div class="form-group">
        <%= f.submit t("password_resets.new.submit"), class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
